<div class="form-group col-md-6 col-sm-6 col-xs-12">
    <label class="" for="">${labelName}</label>
    <div class="w-100">
        <input id="${inputId}" name="${inputId}" type="text" placeholder="${labelName}" class="form-control input-md"
               lienket="" searchdulieu="">
    </div>
</div>