legend{
    color: black;
    font-family: 'ROBOTO';
}
label{
    color: black;
    font-family: 'ROBOTO';
}
.main-table-custom{
    margin-top: 3%;
}
.center{
    text-align: center;
}
.tieuDe{
    color: black;
    font-family: 'ROBOTO';
    font-size: 20px;
}
.btnTM{
    text-align: right;
    margin-bottom: 1%;
}
.text{
    color: black;
    font-family: 'ROBOTO';
}
#formtabs{
    margin-top: 40%;
}
.fa-capnhat{
    background: url(../images/icons/edit1.png) no-repeat ;
    padding-left: 26px;
    padding-bottom: 6px;
}
.fa-rmv{
    background: url(../images/icons/trash2.png) no-repeat ;
    padding-left: 24px;
    padding-bottom: 7px;
}