
.fontsize14{
  font-size: 14px;
}
.fontsize16{
  font-size: 16px;
}
.fontsize18{
  font-size: 18px;
}
.fontsize20{
  font-size: 20px;
}
body {
  padding-top: 0px;
  padding-bottom: 10px;
  position: relative;
}
th{
  text-align: center;
}
.stt{
  text-align: center;
}
.thaoTac{
  text-align: center;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

#components {
  min-height: 500px;
  margin-top:5px;
}

#target fieldset {
  min-height: 220px;
  padding: 5px;
  padding-bottom: 50px;
}

.component {
  cursor: pointer;
  clear: both;
  display: inline;
}

input {
  cursor: pointer;
}

textarea {
  resize: vertical;
}
.popover {
  z-index: 9999;
}
.popover .control-group {
  cursor: default;
}
.popover input {
  cursor: text;
}

.temp form {
  padding: 8px 4px;
  border: 1px dotted #ccc;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 30px #999;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  overflow: hidden;
}

#render{
  min-height: 500px;
  font-family: monospace;
}

/* Popovers now are appended to their parent rather
than to the body/main document as they once were.
We need to over-ride some inherited stuff.. */
form .popover .controls {
  margin-left: 0;
}

form .popover .control-label {
  text-align: left;
}

form .popover form {
  /*width: 300px;*/
}

.popover-content form .btn{
  /* margin-right: 10px */
}

.target:after{
  float:left;
  content: " ";
  height: 77px;
  margin-top: 3px;
  background: #f0f0f0;
  width: 100%;
  border: 1px dashed #ccc;
}

#target, #input, #radioscheckboxes, #select, #buttons {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#target fieldset{
 width: 100%;
 overflow: hidden;
}

.form-horizontal {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px !important;
  padding-left: 0px;
}

.sidebar {
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  right : 0;
  position: absolute;
  right: 0;
  background-color: #eaecf0;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 5px;
}

.component-title {
  margin-top: 0;
  padding-left: 10px;
  padding-top: 5px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 23px;
  margin-top: -8px;
  overflow: hidden;
}

.openbtn {
  font-size: 16px;
  cursor: pointer;
  background-color: #46b8da;
  color: white;
  padding: 6px 4px;
  border: none;
  margin: 1px;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 0px;}
  .sidebar a {font-size: 18px;}
}

.popover {
  top: 0 !important;
  left: auto !important;
  right: 0;
}


.display-element {
  display: inline-block
}

.form-group {
  display: inline-table;
  font-size: 13px;
  margin-top: 5px;
  text-align: left;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#target fieldset {
  min-height: 700px;
}
.nav-tabs>li>a {
  font-size: 13px;
}
textarea{
  height: 60px !important;
}
#build{
  border: 1px solid #dee2e6;
  min-height: 600px;
}
#loading {
  background-color:white;
  position: fixed;
  display: block;
  display: block;
  top: 0;
  bottom: 0;
  z-index: 1000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  text-align: center;
}

#loading img {
  width: 10%;
  margin: auto;
  display: block;
  top: calc(50% - 100px);
  left: calc(45% - 10px);
  position: absolute;
  z-index: 999999;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a3a3;
  opacity: 1; /* Firefox */
}
body,
html {
  height: 100%;
  margin: 0;
}
.main {
  max-width: 100%;
}
.home-data .button:hover,
.nav-logo-text:hover,
.nav-item a:hover {
  color: #ffffff;
}
.home-data .title-btn-register:hover,
.nav-item .nav-link-btn:hover {
  color: #0066ff;
}
.title-btn-register {
  background-color: #ffffff;
  color: #0066ff;
  margin-left: 10px;
}
.card-box {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-box-part {
  display: flex;
  width: 340px;
  height: 320px;
  padding: 20px 20px;
  background: #ffffff;
  justify-content: space-around;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
}
.card-box-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
.card-box-title > h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0066ff;
}
.card-box-text > span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #a3a3a3;
}
.card-box-btn {
  align-self: flex-end;
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

/* History page css */
.table-main h2,
.table-mobile-main h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 2rem;
  box-shadow: 0px 0px 5px 1px rgba(229, 229, 229, 0.8);
}
.table-main table,
.table-mobile-main table {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(229, 229, 229, 0.8);
  -moz-box-shadow: 0px 0px 5px 1px rgba(229, 229, 229, 0.8);
  box-shadow: 0px 0px 5px 1px rgba(229, 229, 229, 0.8);
  margin-top: 3%;
}
.table-main-tab {
  margin-left: 50px;
  width: 12em;
  text-align: center;
  padding-top: 15px;
  background: #ffffff;
  color: #0066ff;
  height: 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 1;
}
.table-main-tab::before {
  content: "";
  width: 10.899em;
  background-color: #ffffff;
  position: absolute;
  display: block;
  margin-top: 32px;
  box-shadow: 10px 0px 0px 10px rgba(255, 255, 255, 1);
}

/* Table */
.dataTables_length.bs-select label {
  display: none;
}
#dtBasicExample_wrapper div.row:last-child {
  margin-top: 15px;
}
.table-icon {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.main-table-custom .table-main h2 {
  position: absolute;
  top: 11%;
}
.main-table-custom .dataTables_wrapper .dataTables_length {
  display: none;
}

.main-table-custom .fixed-table-loading{
  display: none;
}
.main-table-custom .fixed-table-toolbar .columns-right .btn-default{
  display: none;
}
.main-table-custom .fixed-table-toolbar .search {
  width: 320px;
  margin-bottom: 15px;
}
.main-table-custom .fixed-table-toolbar .search input {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}

.main-table-custom table th {
  font-style: normal;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 19px;
  color: #0156A7;
  border-bottom: none;
  text-align: center!important;
  font-family: Roboto;
}

.main-table-custom table tr td {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: none;
}
.main-table-custom .fixed-table-pagination .pagination-info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}
.table-main {
  margin-top: 6%;
  margin-bottom: 0px;
}
#table tbody tr:hover td, .table-hover tbody tr:hover th{
  color: #0066FF;
}
#title-table{
  display: none;
}
.card-view .title{
  padding-right: 15px;
  color: #0066ff;
}
.portlet{
  padding-bottom: 0px;
}
.portlet-content{
  padding-bottom: 0px;
  min-height: 524px;
}
.pagination{
  margin-bottom: 0px;
}
.red{
  color: red;
}
span.pagination-info {
  color: #0056b3;
}
.affix, .control-menu {
  left: unset;
  position: unset;
  right: unset;
  top: unset;
  z-index: 1;
}

.bootstrap-table {
  width: 100%;
}
.loading-wrap{
  display: none;
}
.table-bordered{
  border: none;
}
.pagination-info{
  float: left;
  color: black !important;
}
.pagination-detail{
  width: 50%;
}
.dropup{
  padding-left: 1%;
}
.page-list{
  width: 50%;
}
.columns-right{
  display: none;
}
button{
  font-size: 13px;
}