.thaoTac{
    max-width: 15%;
    width: 15%;
}
.stt{
    max-width: 10%;
    width: 8%;
}
.bootstrap-table .bootstrap4{
    padding-left: 15px;
    padding-right: 15px;
}
legend{
    color: black;
    font-weight: bold;
}
label{
    color: black;
    font-size: 16px;
}
.portlet-content {
    min-height: 0px;
}
.center{
    text-align: center;
}