.paddingbt1{
    padding-top: 1%;
}
#file-chosen{
    margin-left: 0.3rem;
    padding: 0.5rem;
    font-family: Roboto;
    border-radius: 0.3rem;
    color: #000000;
    background: #FFFFFF;
    font-style: italic;
}
.uploadCustom{
    padding: 0.5rem;
    font-family: Roboto;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid #0156A7;
    color: #0156A7;
    background: #FFFFFF;
}

div.tab-pane>.component div {
    max-width: 100%;
}
.popover.fade.left.in {
    position: fixed;
    overflow-y: scroll;
    max-width: 33%;
    overflow-x: hidden;
    max-height: 100vmin;
}
#cauHinhEform{
    display: inline-block;
}